<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.korolenkoe.news" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/g2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.News" >
        <activity android:name=".activity.FeedActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity android:name=".activity.OpenNews"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".activity.SearchNewsActivity" />
        <activity android:name=".activity.RegistrationActivity"
            android:exported="true">
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:exported="true"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.BookmarksActivity">
        </activity>
        <activity android:name=".fragments.DownloadActivity">
        </activity>
        <activity android:name=".fragments.SettingsActivity">
        </activity>
        <activity android:name=".fragments.ProfileActivity">
        </activity>
        <activity android:name=".activity.OpenDownload">
        </activity>

    </application>

</manifest>